[submodule "001-pong-streaker/love-toys"]
	path = 001-pong-streaker/love-toys
	url = https://github.com/smatcher/love-toys.git
[submodule "002-jumpy-goat/love-toys"]
	path = 002-jumpy-goat/love-toys
	url = http://github.com/smatcher/love-toys
[submodule "003-sub-rugby/love-toys"]
	path = 003-sub-rugby/love-toys
	url = http://github.com/smatcher/love-toys
